<label class="mid-align">Nome da categoria:</label>
<input class="mid-align" placeholder="Nome" id="produto-nome" [(ngModel)]="produto.nome">
<input class="mid-align" placeholder="Descrição" id="produto-descricao" [(ngModel)]="produto.descricao">
<input class="mid-align" type="number" placeholder="Id da categoria" id="produto-nome" [(ngModel)]="produto.categoriaId">
<button id="adicionar-categoria" class="btn btn-primary mid-align spacement" (click)="AdicionarProduto(produto)" >Adicionar</button>