/* You can add global styles to this file, and also import other style files */
.bg-purple{
    background-color: #6e1a99;
}

.mid-align{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    display: block;
}

.spacement{
    margin-top: 1%;
    margin-bottom: 1%;
}