<h3 class="mid-align">Bem-vindo ao controle de estoque do MercadoMania</h3>
<hr>
<div style="display: flex;">
    <div class="card mid-align" style="width: 18rem;">
        <i class="bi bi-box-seam icon-size"></i>
        <div class="card-body">
        <h5 class="card-title">Produtos</h5>
        <p class="card-text">Visualizar, alterar e excluir produtos da lista.</p>
        <a routerLink="/produtos" class="btn btn-purple">Visualizar produtos</a>
        </div>
    </div>
    
    <div class="card mid-align" style="width: 18rem;">
        <i class="bi bi-columns icon-size"></i>
        <div class="card-body">
            <h5 class="card-title">Categorias</h5>
            <p class="card-text">Visualizar, alterar e excluir categorias da lista.</p>
            <a routerLink="/categorias" class="btn btn-purple">Visualizar categorias</a>
        </div>
    </div>

    <div class="card mid-align" style="width: 18rem;">
        <i class="bi bi-cart-dash icon-size"></i>
        <div class="card-body">
            <h5 class="card-title">Estoque</h5>
            <p class="card-text">Gerencie o estoque de todos os produtos cadastrados.</p>
            <a routerLink="/estoque" class="btn btn-purple">Visualizar estoque</a>
        </div>
    </div>

</div>