<nav class="navbar navbar-expand-xl navbar-dark bg-purple">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema MercadoMania</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="dropdown" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <!--Produtos-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-box-seam"></i> Produtos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><i class="bi bi-plus-circle"></i> Adicionar produto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-clipboard-data"></i> Gerenciar produtos</a>
          </div>
        </li>
        <!--Categorias-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-columns"></i> Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><i class="bi bi-plus-circle"></i> Adicionar categoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-clipboard-data"></i> Gerenciar categorias</a>
          </div>
        </li>
        <!--Estoque-->
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="bi bi-cart-dash"></i> Gerenciar estoque</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

